// .fileUp {
//     opacity: 0;
//     width: 0px !important;
//     height: 0px !important;
// }

.perfil {
    border-radius: 20px;
    border: solid 5px rgba(237, 223, 223, 0.5);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease all 0.5s;
}

.perfil:hover {
    transition: ease all 0.5s;
    background-color: #444;
    // transform: scale(1.1);
}

.drive-orange {
    border: groove 1px rgb(89, 89, 89);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.626);
}

.body {
    height: 307px;
    overflow: auto;
}

// .link-generate {
    
// }
