
<div>
<img src="../../../assets/portatil.png" width="100%" >

<span> 
    Bienvenido a <strong style="color: orange;" >Orange app</strong>
</span>
<hr>
<span>
    Características principales:
    <hr>
    <ol>
        <li>
            Crea comunidades compañeros de trabajo, escuela o amigos...
        </li>
        <li>
            Publica tareas o documenta problemas a dar solución
        </li>
        <li>
            Puedes escribir Javascript, html y css puro o con bootstrap.
        </li>
        <li>
            Modifica los colores del dashboard que mas te gusten
        </li>
    </ol>
</span>
</div>